<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="static/home.css">
 
</head>
<body>
    <div class="homepage_welcometext">
    <h1>WELCOME TO <br>THE SPAM EMAIL CLASSIFIER</h1>
    </div>
    <div class="homepagelink_container">
        <a href='/land_login'>Login</a><br>
        <h2 id="or_text">or</h2>               
        <a href='/land_register'>Register</a>
    </div>
</body>
</html>