<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="static/login.css">
 
</head>
<body>
    <div class="loginform_container">
        <h1 id="login_text">Login</h1>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" id="username_field" required>         
            <input type="password" name="password" placeholder="Password" id="password_field" required>
            <button type="submit" name="login_submit" id="submit_btn">Login</button>
            
        </form>
    </div>
</body>
</html>